@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');


* { font-family: 'Archivo Black', sans-serif;
    margin: 0;
    text-decoration: none;
}

body {
  background-color: #eeeeee;
}

.app {
  height: 99vh;
}

a {
  color: #ffffff;
}

/* --------------------------------- */
 /* nav styles below */

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
  font-weight: bolder;
  word-wrap: break-word;
  width: 400px;

}


.nav-name {
  line-height: 55px;
  text-decoration: none;
  font-family: inherit;
  font-size: 50px;
  text-align: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 0px;
  margin-right: 11.5%;
}

.inner-nav-link {
  padding: 1px;
  cursor: pointer;
  color: inherit;
  font-size: 16px;
  text-decoration: none;
}

.nav-link-hover-target:hover {
  -webkit-transform: translateY(-1px);
transform: translateY(-1px);
-webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
-webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
box-shadow: 0 7px 14px rgba(0,0,0,);
}


.inner-nav-link h3 {
  padding: 11px;
  color: #ffffff;
}

#projects-link {
  padding: 4px;
  background: linear-gradient(to right, #0ab6d8 0%, #2ac1d8 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  border-radius: 3px;
  /* -webkit-box-shadow: 0 4px 10px -7px rgb(65, 65, 65);
	   -moz-box-shadow: 0 4px 10px -7px rgb(68, 68, 68);
          box-shadow: 0 4px 10px -7px rgb(62, 62, 62); */
}

#about-link {
  padding: 4px;
  background: linear-gradient(to right, #0ab6d8 0%, #2ac1d8 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  border-radius: 3px;
  /* -webkit-box-shadow: 0 4px 10px -7px rgb(65, 65, 65);
	   -moz-box-shadow: 0 4px 10px -7px rgb(68, 68, 68);
          box-shadow: 0 4px 10px -7px rgb(62, 62, 62); */
}


#contact-link {
  padding: 4px;
  background: linear-gradient(to right, #0ab6d8 0%, #2ac1d8 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  border-radius: 3px;
  /* -webkit-box-shadow: 0 4px 10px -7px rgb(65, 65, 65);
	   -moz-box-shadow: 0 4px 10px -7px rgb(68, 68, 68);
          box-shadow: 0 4px 10px -7px rgb(62, 62, 62); */
}


.phone-hero {
  width: inherit;
  align-self: center;
  margin-bottom: 2px;
  height: 200px;
  background-color: #ffffff;
  
}
.phone-hero h2 {
  font-size: 22px;
  
  /* -webkit-box-shadow: 0 8px 6px -6px rgb(65, 65, 65);
  -moz-box-shadow: 0 8px 6px -6px rgb(68, 68, 68);
       box-shadow: 0 8px 6px -6px rgb(62, 62, 62);
   border-radius: 7px; */
}



@media (min-width: 438px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* background: linear-gradient(to right, #30E1ED 0%, #15d9fa 100%); */
    padding: 4px;
  }
  .inner-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: inherit;
    /* background-color: #ffffff; */
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    padding: 9px;
  }
  .nav-name {
    line-height: 4.5rem;
    text-decoration: none;
    font-family: inherit;
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

/* --------------------------------- */
/* home styles below */


@media (max-width: 438px) {
  .nav-container {
    /* background: linear-gradient(to bottom, #1fa2ff 0%, #15d9fa 100%); */
    
  }

  .inner-nav {
    padding: 4px;
    /* background: linear-gradient(to bottom, #1fa2ff 0%, #15d9fa 100%); */
    width: 95vw;
  }

  .nav-name {
    font-size: 30px;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 10px;
    background-color: #ffffff;
  }

  .label-div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .label-div {
    margin-right: 28px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e2e2;
    width: 95vw;
    /* border-radius: 17px; */
    margin-bottom: 8px;
    -webkit-box-shadow: 0 8px 6px -10px rgb(65, 65, 65);
	   -moz-box-shadow: 0 8px 6px -10px rgb(68, 68, 68);
	        box-shadow: 0 8px 6px -10px rgb(62, 62, 62);
  }
  .label-div h1 {
    font-size: 40px;
  }

  .inner-label-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
  }

  .hiddenDiv {
    background-color: #f6f9fc;
    padding: 12px;
    width: 86.5vw;
  }

  #projectBG {
    background: linear-gradient(to bottom, #0ad6fd 0%, #14d3f0 100%);
  }
  #aboutBG {
    background: linear-gradient(to bottom, #15d9fa 0%, #67efdf 100%);
  }
  #contactBG {
    background: linear-gradient(to bottom, #62ede1 0%, #4ec4ba 100%);
  }
  #footerBG {
    /* background: linear-gradient(to bottom, #f6f9fc 0%, rgb(218, 215, 215) 100%); */
  }
}


/* home styles above 438 px */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.large-main-div {
  width: 76vw;
  height: 85vh;
  border-radius: 12px;
  background: linear-gradient(to bottom left, #0ab6d8 40%, #58cbbd 90%);
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 4px 10px -7px rgb(65, 65, 65);
	   -moz-box-shadow: 0 4px 10px -7px rgb(68, 68, 68);
          box-shadow: 0 4px 10px -7px rgb(62, 62, 62);
  margin-bottom: 15px;
}



#home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
#home-main h1 {
  font-size: 6vw;
  line-height: auto;
  font-weight: lighter;
  color: #ffffff;
  font-weight: 100;
  /* background: -webkit-linear-gradient(top right, #26abc2, #72cd98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  align-self: center;
 justify-self: center;
}

.home-card {
  display: grid;
  grid-template-rows: 1fr 3fr;
  background-color: #ffffff;
  width: 100%;
  height: 70%;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  overflow-y: hidden;
  /* justify-content: space-around; */
}

.large-home-statement {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  color: rgb(90, 103, 116);
  margin-top: 20px;
  padding: 11px;
  font-size: 20px;
  z-index: 1
}

.home-buttons {
  /* align-self: center; */
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 50%;
  margin-top: 45px;
}

.the-buttons-home {
  padding: 11px;
  border-radius: 8px;
  font-size: 20px;
  height: 45px;
  background: #809eff;
  border: none;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  cursor: pointer;
  color: #ffffff;
  z-index: 2
}

.the-buttons-home:hover {
  color: #7795f8;
-webkit-transform: translateY(-1px);
transform: translateY(-1px);
-webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
-webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
box-shadow: 0 7px 14px rgba(0,0,0,);
}



#about-button {
  margin-left: 22px;
  margin-right: 22px;
}


.home-link-div {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 5px;
}

.top-home {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-title {
  display: flex;
  justify-content: center;
}
.page-title h1 {
  font-size: 6vw;
  line-height: auto;
  font-weight: lighter;
  color: #ffffff;
  font-weight: 100;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-self: center;
  justify-self: center;
}

.project-card-container {
  width: 180px;
  height: 196px;
  background: lightslategrey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-top {
  height: 60%;
  background: darkslategrey;
  border-radius: 8px 8px 0px 0px;
}

.project-card-description {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 40%;
  border-radius: 0px 0px 8px 8px;
}