@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');


.container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 220px auto;
  background-color: aqua;
}

.header {
  grid-column: 1 / 4;
  background-image: linear-gradient(pink, aqua); 
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}
.header img {
  width: 90px;
  height: 110px;
}
.header h1 {
  font-family: 'Spicy Rice', cursive;
  font-size: 100px;
}

.main {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  margin-bottom: 74px;
}

.twodewform {
  width: 600px;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  margin-left: 22%;
  height: 270px;
  font-family: 'Spicy Rice', cursive;
  font-size: 25px;
  margin-bottom: 150px;
}
.twodewform button {
  background-color: rgb(250, 123, 145);
  padding: 5px;
  width: 30%;
  align-self: center;
  border: 1px solid pink;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Spicy Rice', cursive;
  font-size: 22px;
  border: 3px solid black;
  border-radius: 4px;
}
.twodewform input {
  background-color: rgb(225, 225, 225);
  outline: none;  
  border: none;
  border-bottom: 2px solid black;
  height: 100px;
  background-color: aqua;
  margin-top: 10px;
  font-size: 20px;
}

.formbuttondiv {
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 300px;
  margin-top: 25px;
}
.twodewform button:hover {
  cursor: pointer;
}

#dolphin {
  width: 50px;
  height: 70px;
}


.todoBox {
  background-color: rgb(1, 242, 242);
  border-radius: 25px;
  font-family: 'Spicy Rice', cursive;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 150px 1fr 260px;
  padding: 15px;
  align-items: center;
  margin-top: 22px;
  padding: 30px;
  width: 70%;
  align-self: center;
  /* background-image: url("https://storage.googleapis.com/glaze-ecom.appspot.com/images/QG3CXMfIH/thumbs/232.png"); */
}


.checkLabel {
  font-size: 9px;
}
.checkDiv {
  display: flex;
  height: auto;
  align-items: center;
}

.titledesc {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
}

.submitterbutton {
  font-size: 19px;
  font-family: 'Spicy Rice', cursive;
  background-color: lightgreen; 
  margin-bottom: 7px;
}
.submitterbutton:hover {
  cursor: pointer;
}

.deletebutton {
  font-size: 19px;
  font-family: 'Spicy Rice', cursive;
  background-color: lightgreen; 
}
.deletebutton:hover {
  cursor: pointer;
}
.editbutton {
  background-color: lightgreen;
  font-size: 19px;
  font-family: 'Spicy Rice', cursive;
  margin-bottom: 8px;
}
.editbutton:hover {
  cursor: pointer;
}

.editpicinput {
  grid-column: 3 / 4;
}

.editpicbutton {
  font-size: 19px;
  font-family: 'Spicy Rice', cursive;
  background-color: lightgreen; 
  margin-top: 5px;
  grid-column: 3 / 4;
  width: 70%;
  margin-left: 42px;
  font-size: 22px;
  border: 3px solid black;
  border-radius: 4px;
}
.editpicbutton:hover {
  cursor: pointer;
}

.todoboxinputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoboxinputs button {
  width: auto;
  border: 3px solid black;
  border-radius: 4px;
  padding: 3px
}

.todoBox img {
  border-radius: 6px;
  width: 260px;
  height: 190px;
  grid-column: 3 / 4;
}

